@media (max-width:772px) {
    .text-top{
        transform: translateY(-150px);
    }
    
    .img-card{
        display: none;
    }

    .container{
        display: flex;
        background-color: #131318;
        border-radius: 16px 16px 0px 0px;
        padding: 70px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
    }

    .text-card p{
        margin-left: 20px;
        font-weight: 500;
    }

    .clock{
        margin-left: 20px;
    }

    .clock img{
        width: 20px;
    }

    .clock h3{
        font-size: 16.5px;
    }

    .stars img{
        width: 20px;
    }

    .icons-card h3{
        font-size: 16px;
        margin-right: 10px;
    }

    .buttons{
        display: flex;
        flex-direction: column;
        padding: 0px;
    }

    .btn-1,.btn-2{
        width: 70vw;
        margin-left: 25px;
        margin-bottom: 20px;
    }
}