@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root{
    --font-archivo: 'Archivo', sans-serif;
    --font-space: 'Space Grotesk', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;

}

.section{
    background: rgb(0,0,0,0.7) url(../img/background.jpg);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

.text-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-space);
}

.text-top h3{
    color: #FFF;
    text-align: center;
    text-shadow: 0px 4px 4px #00000040;
    font-size: 26px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 220px;
}

.text-top h1{
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
    font-size: 80px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 80px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img-card img{
    width: 200px;
    border-radius: 16px;
    margin-right: 40px;
}

.text-card{
    display: flex;
    flex-direction: column;
}

.text-card p{
    color: #FFF;
    font-family: var(--font-archivo);
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    max-width: 550px;
}

.icons-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 50px;
}

.clock{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.clock img{
    margin-right: 7px;
}

.clock h3{
    color: #FFF;
    font-family: Archivo;
    font-size: 22px;
    font-weight: 600;
}

.stars img{
    width: 30px;
}

.mark{
    opacity: 0.3;
}

.icons-card h3{
    color: #FFF;
    font-family: Archivo;
    font-size: 22px;
    font-weight: 600;
}

.buttons{
    display: flex;
    flex-direction: row;
}

.btn-1{
    background-color: #0077DC;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 34px;
    border-radius: 4px;
    margin-right: 20px;
    cursor: pointer;
}

.btn-1 a{
   color: #FFF;
   font-family: var(--font-archivo);
   font-size: 16px;
   font-weight: 600; 
   text-transform: uppercase;
   text-decoration: none;
}

.btn-2{
    background-color: #131318;
    border: 1px solid #FFF;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 32px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-2 a{
   color: #FFF;
   font-family: var(--font-archivo);
   font-size: 16px;
   font-weight: 600; 
   text-transform: uppercase;
   text-decoration: none;
} 